@import '../styles.css';


.dropdown {
  position: absolute;
  top: 0.5%;
  right: 2%;
  padding: 5px 5px;
}

.dropdown label {
  margin-right: 5px;
  padding: 5px;
}

.dropdown select {
  background-color: var(--chart-view-bg-color);
  color: var(--text-color);
  padding: 5px 15px;
  font-size: 16px;
  border: 1.5px solid var(--secondary-color);
  border-radius: 3px;
  outline: none;
  
}

 .dropdown select:hover {
  text-decoration: underline;
  /* color: var(--hover-color);   */

} 

.dropdown label i {
  margin-right: 5px; /* Adjust margin as needed */
}


/* Apply the color variable to the button element */
/* .dropdown button {
  color: var(--chart-view-bg-color);
  background-color: transparent;
  border: none;
  padding: 5px 5px;
  cursor: pointer;
} */

