@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue'), url('../assets/fonts/bebasneue-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


:root {
  --primary-color: #E21F26;
  --secondary-color: #6c757d;
  --secondary-color-dark: #3d4246;
  --bg-color: rgb(0, 0, 0);
  --text-color: rgb(255, 255, 255);
  --text-color-secondary: rgb(190, 190, 190);
  --hover-color: rgb(13, 150, 255);
  --title-font: "Bebas Neue", sans-serif;
  --body-font: Helvetica, sans-serif;
}

.logo {
  height: 40px;
  /* Adjust based on your needs */
  margin-left: 5px;
  /* Space between the logo and the title */
}

.gauge-container {
  width: 100%;
  display: flex;
  justify-content: center;
  /* Center the gauge chart horizontally */
  overflow: hidden;
  /* Hide overflow. Adjust as needed */
}

body {
  font-family: var(--body-font);
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}

h4 {
  font-size: 16px;
  font-family: var(--body-font);
  color: var(--text-color-secondary);
  padding: 0px;
}


h1 {
  font-family: var(--title-font);
  font-size: 40px;
  color: var(--text-color);
  padding: 0px 5px;
}


h2 {
  font-size: 22px;
  font-family: var(--body-font);
  color: var(--text-color);
  padding: 0px;
}

h3 {
  font-size: 20px;
  font-family: var(--body-font);
  color: var(--text-color-secondary);
  padding: 5px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 12px;
  }

}



select {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 0px;
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: 16px;
  background-color: var(--chart-view-bg-color);
  /* border-radius: 4px;
  border-color: var(--secondary-color); */
  align-items: center;

}


/* Attempt to style the option elements */
select option {
  padding: 5px;
  background-color: var(--bg-color) !important;
  /* Attempt to set the background color */
  color: white !important;
  /* Attempt to set the text color to white */
}


/* label {
  color: aqua
} */

button {
  background-color: transparent;
  border: none;
  color: var(--primary-color);
  padding: 5px 5px 10px 5px;
  text-align: start;
  text-decoration: none;
  /* Remove underline by default */
  display: inline;
  font-size: 18px;
  font-family: var(--body-font);
  margin: 4px 2px;
  cursor: pointer;

  border-bottom: 1.5px solid rgba(106, 106, 106, 0.3);
}


button:hover {
  text-decoration: underline;
  /* Add underline on hover */
  color: var(--hover-color);
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.hamburger div {
  width: 30px;
  height: 1.5px;
  background: rgb(255, 255, 255);
  /* Adjust color based on your theme */
  border-radius: 10px;
  transition: all 0.3s linear;
}

.nav {
  position: absolute;
  width: 200px;
  /* Adjust based on your preference */
  padding-left: 10px;
  padding-right: 5px;
  /* Adds padding inside the nav container, affecting all child elements */
  box-sizing: border-box;
  /* Ensures the padding doesn't extend the nav container's width */
  height: 100vh;
  background: var(--bg-color);
  border-right: 1.5px solid var(--secondary-color-dark);
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  overflow-y: auto;
  left: 0;
  top: 0;
  z-index: 9;
}

.nav h2 {
  margin-top: 60px;
  /* Adjust as needed */
  margin-bottom: 10px;
  /* Provides spacing between the heading and the first button */
  margin-left: 0px;
  text-align: left;
  /* Centers the heading text, if desired */
}

/* When nav is open, translate it into view */
.nav.nav-open {
  transform: translateX(0);
}

.nav button {
  display: block;
  width: calc(100% - 10px);
  /* Adjust button width to account for left margin/padding */
  padding: 12px;
  /* Adjust padding as needed */
  border-bottom: 1px solid var(--secondary-color-dark);
  background: transparent;
  cursor: pointer;
  box-sizing: border-box;
  text-align: left;
}

/* Optional: Add styles for hover effect to improve user experience */
.nav button:hover {
  background-color: var(--hover-bg-color);
  /* Replace with your hover background color variable */
}


.title-bar {
  background: var(--bg-color);
  padding: 1px 10px;
  text-align: left;
  /* box-shadow: 10px 10px 20px -30px rgba(0, 0, 0, 0.3), 0px 4px 6px -2px rgba(200, 200, 200, 0.1); */
  border-bottom: 1.5px solid var(--secondary-color-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Aligns children vertically in the center */
  /* Aligns items to each end of the container */
}

.title-bar h1 {
  font-family: var(--title-font);
  font-size: 24px;
  color: var(--text-color);
  padding: 0px 5px;
}


.chart-container {
  flex: 2;
  /* Occupies 2/3 of the space */
  overflow-y: auto;
  /* Allows the chart to scroll if it overflows vertically */
  width: 100%;
  height: 94vh;
  display: flex;
  justify-content: center;
  align-items: start;
}

.chart-wrapper {
  max-width: 90%;
  max-height: 100vh;
  width: 100%;
  height: 100%;
  position: relative;
}

.banner-error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  /* This ensures the text is centered in the div */
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.scrollable-content {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  /* Adjust based on your design */
}


.banner-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  /* This ensures the text is centered in the div */
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}

.banner-title {
  position: fixed;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  margin-top: 150px;
  padding-top: 100px;
  width: 100%;
  /* This ensures the text is centered in the div */
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}