:root {
  --primary-color: rgb(255, 111, 0);
  --secondary-color: #6c757d;
  --secondary-color-dark: #3d4246;
  --bg-color: rgb(16, 17, 21);
  --text-color: rgb(211, 211, 211);
  --text-color-secondary: rgb(190, 190, 190);
  --hover-color: rgb(13, 150, 255);
}


body {
  font-family: 'Courier New', monospace;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}

h1 {
  font-family: 'Courier New', monospace;
  font-size: 18px;
  color: var(--text-color);
   padding: 0px 15px; 
}


h2 {
  font-size: 16px;
  color: var(--text-color);
  padding: 5px;
}

span {
  color: var(--text-color-secondary);
  font-size: 14px;

}

select {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--text-color);
  font-family: 'Courier New', monospace;
  font-size: 14px;
  background-color: var(--chart-view-bg-color);
  border-radius: 4px;
  border-color: var(--secondary-color);
  padding: 5px;
  align-items: center;
}

label {
  color: aqua
}

button {
  background-color: transparent;
  border: none;
  color: var(--primary-color);
  padding: 5px 5px 10px 5px;
  text-align: start;
  text-decoration: none;
  /* Remove underline by default */
  display: inline;
  font-size: 14px;
  font-family: 'Courier New', monospace;
  margin: 4px 2px;
  cursor: pointer;

  border-bottom: 1.5px solid rgba(106, 106, 106, 0.3);
}


button:hover {
  text-decoration: underline;
  /* Add underline on hover */
  color: var(--hover-color);
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.hamburger div {
  width: 30px;
  height: 1.5px;
  background: rgb(255, 255, 255); /* Adjust color based on your theme */
  border-radius: 10px;
  transition: all 0.3s linear;
}

.nav {
  width: 200px; /* Adjust based on your preference */
  padding-left: 10px;
  padding-right: 5px; /* Adds padding inside the nav container, affecting all child elements */
  box-sizing: border-box; /* Ensures the padding doesn't extend the nav container's width */
  height: 100vh;
  background: var(--bg-color);
  border-right: 1.5px solid var(--secondary-color-dark);
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
}

.nav h2 {
  margin-top: 60px; /* Adjust as needed */
  margin-bottom: 10px; /* Provides spacing between the heading and the first button */
  margin-left: 0px;
  text-align: left; /* Centers the heading text, if desired */
}

/* When nav is open, translate it into view */
.nav.nav-open {
  transform: translateX(0);
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }
  /* Adjustments for mobile screens can go here, if needed */
}

@media (max-width: 768px) {
  .nav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9; /* Ensure nav is above other content but below the hamburger */
  }
}

.nav button {
  display: block;
  width: calc(100% - 10px); /* Adjust button width to account for left margin/padding */
  padding: 12px; /* Adjust padding as needed */
  border-bottom: 1px solid var(--secondary-color-dark);
  background: transparent;
  cursor: pointer;
  box-sizing: border-box;
  text-align: left;
}

/* Optional: Add styles for hover effect to improve user experience */
.nav button:hover {
  background-color: var(--hover-bg-color); /* Replace with your hover background color variable */
}


.title-bar {
  background: var(--bg-color);
  padding: 1px 10px;
  text-align: left;
  /* box-shadow: 10px 10px 20px -30px rgba(0, 0, 0, 0.3), 0px 4px 6px -2px rgba(200, 200, 200, 0.1); */
  border-bottom: 1.5px solid var(--secondary-color-dark);
  display: flex;
  justify-content: space-between;
  align-items: center; /* Aligns children vertically in the center */
  /* Aligns items to each end of the container */
}



.title-bar span {
  color: var(--text-color-secondary);
  font-size: 14px;
  padding: 12px
}

.chart-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-wrapper {
  max-width: 90%;
  max-height: 90vh;
  width: 100%;
  height: 100%;
  position: relative;
}

.banner-error {
  display: flex;
  justify-content: center;
  /* Horizontally center */
  align-items: center;
  /* Vertically center */
  text-align: center;
  /* Horizontally center */
  color: rgb(255, 0, 0);
  width: 100%;
  /* Ensure the container takes up the full width */
}

.banner-loading {
  display: flex;
  justify-content: center;
  /* Horizontally center */
  align-items: center;
  /* Vertically center */
  text-align: center;
  /* Horizontally center */
  color: var(--text-color);
  width: 100%;
  /* Ensure the container takes up the full width */
}