.live-index-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
  }
  
  .gauge-charts-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    position: relative;
  }
  
  .gauge-chart {
    text-align: center;
  
  }
  

  .gauge-chart:first-child {
    padding-right: 60px;
  }
  
  .gauge-chart:last-child {
    padding-left: 60px;
  }

  .gauge-chart h1 {
    font-family: var(--title-font);
    font-size: 32px;
    font-weight: normal;
    color: var(--text-color);
    padding: 0px 0px;
  }
  
  .gauge-chart h2 {
    font-family: var(--body-font);
    font-size: 22px;
    font-weight: bold;
    color: var(--text-color);
    padding: 0px 0px;
  }

  .gauge-chart h3 {
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: normal;
    color: var(--text-color);
    padding: 0px 0px;
  }

  @media screen and (max-width: 768px) {
    .gauge-chart:first-child, .gauge-chart:last-child {
      padding-right: 30px;
      padding-left: 30px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .gauge-charts-container {
      flex-direction: column;
    }
    
    .gauge-chart {
      padding: 0;
    }

    .gauge-chart h1{
      font-size: 26px;
    }

    .gauge-chart h2{
      font-size: 19px;
    }

    .gauge-chart h3{
      font-size: 14px;
    }
  }
  